{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}
<h2>Register A New Soft Token</h2>
    <p/>
    <div align="center"><span class="label label-info">Please scan this QRCode to add a new soft-token.</span></div>
    <p/>
    <div align="center"><img src="{{ form.seed.value }}/qr"></div>
    <p/>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Attention!</h3>
      </div>
      <div class="panel-body"><h5>If you have problems with authentication/verification, make sure your device time is synced with an NTP server and let 30 seconds pass before retrying.</h5></div>
    </div>
{% endblock %}

